.o-navbar {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: var(--color-white);
    justify-content: space-evenly;
}

.o-navbar div {
    height: 50px;
    width: 50px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.3rem;
    box-sizing: border-box;
    margin: 0 5px;
}

.o-navbar-logo {
    width: 90%;
    height: 90%;
}

.o-navbar__icon {
    color: var(--color-green);
}