.o-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3em;
    width: 100%;
    position: sticky;
    top: 0;
    color: $color-dark;
    background: $color-white;
    font-size: $font-sm;
    z-index: 100;
}

.o-header > p {
    margin: 0;
    font-size: 12px;
}

.o-header__logo {
    display: flex;
    align-items: center;
    column-gap: 6px;
    font-size: $font-sm;
    font-weight: bold;
    color: $color-dark;
}

.o-header__logo img {
    width: 34px;
    height: 34px;
}