@media (min-width: 768px) {
    .card-container {
        align-items: center;
        column-gap: 20px;
        display: flex;
        flex-wrap: wrap;
        flex: 0 1 calc(33% 1em);
        justify-content: center;
        row-gap: 20px;
        width: calc(100% + 16px);
    }
}