.a-logo-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.a-logo-container__image {
    align-items: center;
    background-color: $color-white;
    border-radius: 50%;
    display: flex;
    height: 120px;
    justify-content: center;
    width: 120px;

}

.a-logo-container__image img {
    box-sizing: border-box;
    height: 90px;
    min-height: 40px;
    min-width: 40px;
    padding: 2px;
    width: 90px;
}

.a-logo-container__title {
    font-size: $font-xlg;
    font-weight: bold;
    margin: 1rem 0 0;
}