.track-detail {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
}

.track-detail__image {
    margin: 0;
    /* padding: 20px; */
    /* box-sizing: border-box; */
}

.track-detail__image img{
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.track-detail__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
    margin-top: 24px;
    row-gap: 20px;
}

.track-detail__body-title h2 {
    margin: 0 ;
    font-size: var(--xlg);
    font-weight: bold;
}

.track-detail__body-title p {
    margin: 0;
    font-size: var(--lg);
}

/* .track-detail__body-title p:nth-child(2) {
    margin-bottom: 32px;
    

} */

.track-detail__body-info p {
    margin: 0;
}

.track-detail__body-info p:nth-child(1) {
    font-size: var(--md);
    text-align: justify;
    font-weight: 300;
    margin-bottom: 12px;

}

.track-detail__body-info p:nth-child(2) {
    /* margin-bottom: 32px; */
    font-weight: 300;
    font-size: var(--sm);
}

.track-detail__body-footer {
    width: 100%;
}

@media (min-width: 768px) {

    .track-detail {
        display: flex;
        justify-content: center;
        column-gap: 24px;
    }

    .track-detail__image {
        padding: 0;
    }

    .track-detail__body {
        margin-top: 0;
        justify-content: space-between;
    }
}