.auth__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-dark;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.auth-form__container {
    width: 90%;
    max-width: 300px;
}

.auth__button {
    margin-top: 4rem;
}

.auth__link {
    color: $color-white;
    text-decoration: none;
    font-size: $font-sm;
    text-align: center;
    margin-top: 12px;

    &:hover {
        text-decoration: underline;
    }
}