.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3em;
    width: 100%;
    position: sticky;
    top: 0;
    color: var(--color-dark);
    background: var( --color-white);
    font-size: var(--sm);
    z-index: 100;
}

.header p {
    margin: 0;
    font-size: 12px;
}

.header__logo {
    display: flex;
    align-items: center;
    column-gap: 6px;
    font-size: var(--sm);
    font-weight: bold;
}

.header__logo img {
    width: 34px;
    height: 34px;
}