.container-title {
    padding: 12px 0;
    width: 100%;
    /* margin: 0 auto; */
    background-color: var(--color-dark);
    font-size: var(--sm);
    /* position: sticky; */
    /* top: 0; */
    transition: ease all .5s;
}

.container-title h2{
    margin: 0;
}