form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

a {
    text-decoration: none;

    &:visited {
        color: $color-white;
    }
}

.mt-1 {
    margin-top: 6px;
}

.mt-2 {
    margin-top: 12px;
}

.mb-2 {
    margin-bottom: 12px;
}

.mb-3 {
    margin-bottom: 18px;
}

.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.input {
    background-color: var(--color-input-field);
    border-radius: 8px;
    border: none;
    font-size: var(--md);
    height: 30px;
    padding: 6px;

    &:focus {
        border: 2px solid $color-green;
        outline: none;
    }
}


.form-control {
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: $font-sm;
    font-weight: bold;
    padding: 15px 5px;
    text-align: center;
    transition: color .3 ease;
    width: 100%;

    &:focus {
        outline: none;
    }

    &:hover {
        color: darken($color: white, $amount: 10);
    }
}

.btn-primary {
    background-color: $color-green;
    border-radius: 8px;

    &:disabled {
        background-color: lighten($color: $color-green, $amount: 15);
    }

    &:hover {
        background-color: darken($color: $color-green, $amount: 15);
    }
}

.btn-secondary {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid $color-green;
    color: $color-green;

    &:hover {
        background-color: $color-green;
    }
}

